@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap'); 
body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #b6d313 0%, #1B1818 100%);
}


.nav-link {
    color: rgb(7, 126, 86);
}
.navbar-nav .nav-link.active {
    color: beige;
}
.navbar-brand img {
    width: 60px;

}


.navbar-toggler {
    background-color: beige;
}

.sidebar {
    color: rgb(169, 238, 8);
    background: linear-gradient(270deg, #561ab6 0%, #C13A3A 100%);
}

.card {
    color: rgb(7, 206, 241);
    background: linear-gradient(270deg, #967c0a 0%, #C13A3A 100%)
}

.card a {
    color: rgb(7, 206, 241);
    text-decoration: none;
}
    
.slide-text,
.footer-text {
    color: rgb(61, 11, 179);
    margin: auto auto ;
}

.footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #6d086d 0%, #C13A3A 100%) 
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

